// Colors
$color-primary: #58e1c1;
$color-links: #51ddfc;

$white: #fff;
$grey: #ccc;
$dark-grey: #777;

$color-info: #927bc1;
$color-warning: #fd7856;
$color-error: #e4757a;
$color-success: #63cc82;

$color-col3: #deb2ee;
$color-col4: #7ee6fd;
$color-col5: #88d9a0;
$color-col6: #4da2bb;
$color-col7: #ec9fa3;
$color-col8: #fd9f85;
$color-col11: #51ddfc;
$color-col12: #80e8d1;

// Breakpoints
$brkpoint-lg: 768px;

// Fonts
$stack-san-serif: sans-serif;